.mainTitleContainer {
  padding-top: 262px;
  .header {
    font-weight: bold;
    font-size: 100px;
    line-height: 150px;
  }
  .mainText {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
  }
  .containerFooter {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.3em;
  }
}
