.footerContainer {
  .header {
    font-weight: bold;
    font-size: 100px;
    line-height: 150px;
  }
  .navbar {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.3em;
    text-decoration-line: underline;
  }
  .developer {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.3em;
  }
}
